.card-container {
  display: flex;
  justify-content: space-between; /* justify-content: center; */
  align-items: center;
  gap: 20px;


}

h2 {
  font-weight: 500;
}

.card {
  font-weight: 700;
  // width: 25%;

  &-title {
    color: var(--dark-gray);
    text-transform: uppercase;
    letter-spacing: 1.6px;
  }

  // &:nth-child(-n + 3) {
  //   border-right: 1px solid gray;
  // }
}

@media screen and (max-aspect-ratio: 1) {
  .card-container {
    display: block;
    text-align: center;
    padding: 16px;
  }

  .card {
    display: block;
    text-align: center;

    &-title {
      font-size: 9.6px;
    }

    h2 {
      font-size: 16px;
      font-weight: 500;
    }
  }
}
