.card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.card {
  font-weight: 700;
  width: 25%;

  &-title {
    color: var(--dark-gray);
    text-transform: uppercase;
    letter-spacing: 1.6px;
  }
}

h2 {
  font-weight: 500;
}

.card + .card {
  h2 {
    overflow: hidden;
  }
}

@media screen and (max-aspect-ratio: 1) {
  .card-container {
    display: block;
    text-align: center;
  }

  .card {
    width: auto;
    display: block;
    text-align: center;

    &-title {
      font-size: 9.6px;
    }

    h2 {
      font-size: 16px;
      font-weight: 500;
      margin-top: 5px;
    }
  }
}
