/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Rubik:wght@400;500;700&display=swap');

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#app-root {
  height: 100%;
}

:root {
  --dark-gray: hsl(0, 0%, 59%);
  --very-dark-gray: hsl(0, 0%, 17%);
}

body, button, input, textarea {
  font-family: 'Rubik', sans-serif;
}

button, input {
  border: solid 0;
  &:hover {
    cursor: pointer;
  }
}
